<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adobereader" />
	<package id="audacity" />
	<package id="authy-desktop" />
	<package id="attributechanger" />
	<package id="advanced-renamer" />
	<package id="bitwarden" />
	<package id="bleachbit" />
	<package id="brave" />
	<package id="caesium.install" />
	<package id="ccleaner" />
	<package id="cherrytree" />
	<package id="copyq" />
	<package id="eraser" />
	<package id="everything" />
	<package id="firefox" />
	<package id="freefilesync" />
	<package id="google-backup-and-sync" />
	<package id="greenshot" />
	<package id="handbrake" />
	<package id="itunes" />
	<package id="libreoffice" />
	<package id="marktext" />
	<package id="paint.net" />
	<package id="peazip" />
	<package id="picard" />
	<package id="sharex" />
	<package id="skype" />
	<package id="slack" />
	<package id="teracopy" />
	<package id="ultradefrag" />
	<package id="virtualclonedrive" />
	<package id="vlc" />
	<package id="youtube-dl-gui" />
</packages>
