<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="curl"/>
	<package id="drawio"/>
	<package id="git"/>
	<package id="gh"/>
	<package id="golang"/>
	<package id="jdk14"/>
	<package id="postman"/>
	<package id="pwsh"/>
	<package id="python3"/>
	<package id="notepadplusplus"/>
	<package id="rpi-imager"/>
	<package id="sardu"/>
	<package id="tabby"/>
	<package id="terraform"/>
	<package id="visualstudiocode"/>
	<package id="virtualbox"/>
	<package id="virtualbox-guest-additions-guest.install"/>
</packages>
