[user]
    name = Vinay Hegde
    email = vinay.hegde@

[commit]
    template = /Users/vinay.hegde/.git-templates/commit-msg-template

[color "branch"]
    current = red bold ul
    local = yellow dim
    remote = "#00CED1"

[color "diff"]
    meta = "#FFD700" #hex code yellow
    frag = "#DA70D6" #hex code orchid
    old = red bold
    new = "#32CD32" # hex code limegreen

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
