[user]
    name = Vinay Hegde
    email = vinay.hegde@bookmyshow.com
    #signingkey = D83D0ADE85130D5E

[commit]
    template = /Users/vinay.hegde/.git-templates/commit-msg-template

[color "branch"]
    current = red bold ul
    local = yellow dim
    remote = "#00CED1"

[color "diff"]
    meta = "#FFD700" #hex code yellow
    frag = magenta
    old = red bold
    new = "#32CD32"

[color "status"]
    added = yellow
    changed = green
    untracked = cyan 
    
#[gpg]
#   program = gpg
