<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="curl"/>
	<package id="drawio">
	<package id="gh"/>
	<package id="git"/>
	<package id="golang"/>
	<package id="jq"/>
	<package id="microsoft-openjdk"/>
	<package id="notepadplusplus"/>
	<package id="postman"/>
	<package id="pwsh"/>
	<package id="python3"/>
	<package id="rpi-imager"/>
	<package id="sardu"/>
	<package id="tabby"/>
	<package id="terraform"/>
	<package id="treesizefree"/>
	<package id="virtualbox"/>
	<package id="virtualbox-guest-additions-guest.install"/>
	<package id="visualstudiocode"/>
</packages>
